html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.container-header {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.principal-search {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.logos-icons {
  display: flex;
  align-items: center;
}

.logos-icons .icon-menu {
  display: none;
}

img.logo {
  width: 195px;
  margin-bottom: 10px;
}

.search-menu {
  display: flex;
  gap: 32px;
}

.search {
  width: 200px;
  background-color: #edeaea;
  border: none;
  padding: 6px;
}

.lupa {
  position: absolute;
  right: 8px;
  top: 6px;
}

.container-lupa {
  position: relative;
}

.margin-between {
  display: flex;
  gap: 8px;
  align-items: center;
}

.text-gray {
  color: #666666;
  font-family: sans-serif;
  font-size: 15px;
}

.badge {
  display: flex;
  width: 18px;
  background-color: #bf286f;
  justify-content: center;
  border-radius: 50%;
  color: white;
}

/* dropdown */
.menu {
  padding: 16px;
  display: flex;
  width: 100%;
  gap: 46px;
  justify-content: space-evenly;
  height: 50px;
  border: none;

}

.divider-dropdown a {
  border-top: 1px solid rgba(168, 68, 68, 0.2);
  position: relative;
  display: inline-block;
  z-index: 1;
}


.menu li {
  list-style: none;
}

.menu li a {
  text-decoration: none;
  font-size: 15px;
  color: #110808;
  font-weight: normal;
  font-family: Open Sans;
  position: relative;
  display: inline-block;
  z-index: 1;
}

.menu li.contrast a {
  color: rgb(154, 44, 110);
  font-weight: 700;
}

/* dropdown */
.arrow-purple {
  position: absolute;
  right: 0;
}


.tooltip-drop {
  position: relative;
  display: inline-block;
  font-family: sans-serif;
  font-size: 17px;
  text-align: end;
}

.tooltip-drop .text-gray {
  visibility: hidden;
  width: 181px;
  background-color: #fff;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: -3px;

  position: absolute;
  z-index: 1;
  bottom: -110px;
  left: -13%;
  margin-left: -12px;


  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-drop .text-gray::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
}

.tooltip-drop:hover .text-gray {
  visibility: visible;
  opacity: 1;
}


@media (max-width: 600px) {
  .principal-search {
    justify-content: center;
  }

  .logos-icons .icon-menu {
    display: flex;
    margin-right: 22px;
    margin-bottom: 7px;
  }

  .lupa {
    position: inherit;
    right: 0;
    top: 5px;
    margin-left: 54px;
  }

  .container-lupa input {
    display: none;
    width: 0;
  }

  .container-login {
    display: none;
  }
}

/* tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  font-family: sans-serif;
  font-size: 15px;

}

.tooltip .text-gray {
  visibility: hidden;
  width: 120px;
  background-color: rgb(173, 25, 141);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;


  position: absolute;
  z-index: 1;
  bottom: -34px;
  left: 50%;
  margin-left: -60px;


  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .text-gray::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(173, 23, 141) transparent transparent transparent;
}

.tooltip:hover .text-gray {
  visibility: visible;
  opacity: 1;
}


@media (max-width: 800px) {
  .menu {
    display: none;
  }
}

/* Menu */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 50px;
  width: 50px;
  z-index: 8;
  opacity: 0;
  cursor: pointer;
}


.nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container .hamburger-lines {
  display: block;
  height: 17px;
  width: 20px;
  top: 17px;
  left: 20px;
  margin: 0 26px 8px 10px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 7;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

@media (min-width: 800px) {

  .nav-container .hamburger-lines .line,
  .nav-container .checkbox {
    display: none;
  }
}

.menu-items {
  position: absolute;
  padding-top: 120px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  width: 100%;
  max-width: 800px;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  gap: 46px;
  justify-content: center;
  z-index: 6;
  top: 1px;
}

.menu-items li {
  list-style: none;
}

.menu-items li a {
  text-decoration: none;
  font-size: 15px;
  color: #676767;
  font-weight: normal;
  font-family: Open Sans;
}

.menu-items li.contrast a {
  color: #9a2c6e;
  font-weight: 700;
}

.nav-container input[type="checkbox"]:checked~.menu-items {
  transform: translateX(0);
}


@media (min-width: 800px) {

  .menu-items {
    display: none;
  }
}

/* banner-slider */

.banner-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 400px;
  background-image: url("./images/modelverao.png");
  background-size: cover;
}

.banner-slider .container-info-banner {
  width: 100%;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.banner-slider .container-info-banner .principal-text-banner {
  font-weight: 300;
  font-size: 42px;
  margin-bottom: 18px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  letter-spacing: 9px;
  width: 154px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.banner-slider .container-info-banner .second-text-banner {
  font-weight: normal;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  letter-spacing: 2.6px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 32px;
  line-height: 32px;

}

.banner-slider .container-info-banner .button-banner {
  font-weight: 700;
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  letter-spacing: 1.6px;
  color: #FFFFFF;
  text-transform: uppercase;
  max-width: 70px;
  width: 100%;
  background-color: transparent;
  border: none;
  white-space: nowrap;
  border-bottom: solid 1px #ffffff;
}

.banner-slider .container-info-banner .detach {
  background-color: #9A2C6E;
  padding: 2px;
  font-weight: 700;
}

.dots-banner {
  display: flex !important;
  position: absolute;
  bottom: 5px;
  gap: 20px;
  color: #ffffff;
  right: 50%;
  left: 50%;
}

.dots-banner li::marker {
  font-size: 38px;
}

.dots-banner li.slick-active {
  color: #9A2C6E;
}

.dots-banner li button {
  display: none;
}

.dots-banner-two {
  display: flex !important;
  position: absolute;
  bottom: 5px;
  gap: 20px;
  color: #DDD8DD;
  right: 50%;
  left: 50%;
}

.dots-banner-two li::marker {
  font-size: 38px;
}

.dots-banner-two li.slick-active {
  color: #9A2C6E;
}

.dots-banner-two li button {
  display: none;
}

.exchange-info {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.difference-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 56px;
  padding: 10px;
  width: 100%;
}

.difference-bar .back-info {
  width: 24px;
}

.sub-banners {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}


.exchange-info .exchange-one {
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.exchange-info .exchange-one strong {
  font-weight: 700;

}

.sub-banners-image {
  width: 100%;
  max-width: 392x;
  height: 100%;
  background-size: cover;
}

.showcase {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.text-showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.newin-showcase {
  text-transform: uppercase;
  font-size: 26px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #9a2c6e;

}

.button-showcase {
  font-weight: 700;
  font-size: 9px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  letter-spacing: 1.6px;
  color: #b5b5b5;
  text-transform: uppercase;
  max-width: 70px;
  width: 100%;
  background-color: transparent;
  border: none;
  white-space: nowrap;
  border-bottom: solid 1px #b5b5b5;

}

.slider-showcase {
  display: flex;
  width: 100vw;
  height: 400px;
  background-size: cover;
}


.blazer-showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.showcase-blazer2 {
  margin: 0 auto;
  max-height: 270px;
  max-width: 230px;
}


.skirt-showcase {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #676767;
}

.price-showcase {
  color: #9A2C6E;
  padding: 10px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.price2-showcase {
  padding: 2px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #b5b5b5;
  font-size: 13px;
}

.sub-banners2 {
  align-items: center;
  flex-direction: column;
  height: 100%;
  display: flex;
}


.blackwhite-banner {
  max-width: 100%;
  width: 320px;
}

.follow {
  display: none;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 26px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #9a2c6e;
}

.follow h3 {
  margin: 90px 0 22px 0;
  font-weight: 300;
}

.follow h3 strong {
  font-weight: bold;
}

.follow-images {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  gap: 24px;
}

.images-insta {
  width: 100%;
  max-width: 392px;

  height: 392px;

}

/* text new fashion */
.text-concept {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 100%;
  margin-bottom: 60px;
}

.text-fashion {
  font-family: 'Open Sans', Regular;
  text-transform: uppercase;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
}

.text-concept2 {
  font-family: 'Open Sans', Regular;
  color: #b5b5b5;
  font-size: 13px;
  text-align: center;
  line-height: 22px;
  max-width: 800px;
  line-height: 32px;
}

/* form */
.style-form {
  font-family: 'Open Sans';
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
  padding: 56px 24px;
  background: linear-gradient(270deg, #bf286f 0%, #9a2c6e 100%);
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.register input {
  color: #B5B5B5;
  width: 100%;
  max-width: 256px;
  padding: 10px 10px;
}

.rigister-one {
  text-align: center;
  margin-bottom: 15px;
}

.register-two {
  font-weight: bold;
}

.btn-form {
  font-weight: bold;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: transparent;
  margin-top: 15px;
  border: 1px solid #ffffff;
  white-space: nowrap;
  border-bottom: solid 1px #ffffff;
  padding: 11px 56px;
  text-transform: uppercase;
}

/* accordion */

.accordion-container {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 15px 28px;
}

.accordion-container .wrapper {
  border-bottom: 1px solid #c6c6c6;
  position: relative;
  padding-bottom: 12px;
}

.accordion {
  cursor: pointer;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  font-family: Open Sans, sans-serif;
}

.accordion .arrow-short {
  position: absolute;
  right: 0;
  bottom: 17px;
}

.content-accordion {
  display: none;
  overflow: hidden;
}

.logo-ecan {
  height: 21px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.create-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #676767;
}

.createpower-logo {
  font-size: 13px;
  font-family: 'Open Sans', Regular;
  font-weight: 400;
  white-space: nowrap;
}

.createby-logo {
  font-size: 13px;
  font-family: 'Open Sans', Regular;
  font-weight: 400;
  white-space: nowrap;
}

.text-end {
  font-family: 'Open Sans', Regular;
  color: #b5b5b5;
  font-size: 11px;
  text-align: center;
  line-height: 22px;
  font-weight: 400;
}

@media (min-width: 800px) {
  .sub-banners {
    flex-direction: row;
    text-align: center;
  }

  .sub-banners2 {
    justify-content: center;
    flex-direction: row;
    gap: 24px;
  }

  .blackwhite-banner {
    max-width: 100%;
    width: 600px;
  }
}

@media (max-width: 800px) {
  .display-none {
    display: none;
  }
}


@media (min-width: 1240px) {
  .follow {
    display: flex;
  }
}